body {
  margin: 0;
  overflow: hidden;
}

.backgroundimg9-icon {
  position: absolute;
  height: 65.78%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 34.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.connect-merge-work9 {
  position: absolute;
  width: 80%;
  top: calc(53% - 691.5px);
  left: 10.57%;
  line-height: 83px;
  display: inline-block;
  height: 83px;
}

.company-details9,
.job-details9 {
  position: absolute;
  width: 15.04%;
  top: calc(41% - 8.5px);
  left: 0;
}

.job-details9 {
  width: 15.69%;
  top: calc(50% - 11.5px);
  left: 13%;
}

.candidate-requiremen9,
.job-description9 {
  position: absolute;
  width: 30.51%;
  top: calc(50% - 8.5px);
  left: 28.38%;
}

.job-description9 {
  width: 18.79%;
  left: 45.21%;
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 61px;
  overflow: hidden;
}

.optionbarcard9,
.optionbarcard-child {
  position: absolute;
  top: 50.5px;
  left: 10px;
  width: 130px;
  height: 100px;
}

.optionbarcard9 {
  top: calc(58% - 320.5px);
  left: 5%;
  width: 400px;
  height: 15px;
}

.jobtitle {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 220px;
  left: 45px;
}

.fulltime,
.parttime {
  position: absolute;
  height: 7.69%;
  width: 59.61%;
  top: 15.38%;
  right: 40.39%;
  bottom: 76.92%;
  left: 0;
}

.parttime {
  width: 62.83%;
  top: 30.77%;
  right: 37.17%;
  bottom: 61.54%;
}

.what-type-of {
  position: absolute;
  width: 100%;
  top: calc(50% - 130px);
  left: 0;
  display: inline-block;
}

.jobtype {
  position: absolute;
  top: 290px;
  left: 45px;
  width: 205px;
  height: 260px;
  overflow: hidden;
}

.expericereq {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 420px;
  left: -320px;
}

.dentalinsurance,
.visioninsurance {
  position: absolute;
  height: 6.86%;
  width: 45.76%;
  top: 15.37%;
  right: 53.75%;
  bottom: 77.78%;
  left: 0.48%;
}

.visioninsurance {
  width: 49.49%;
  top: 23.64%;
  right: 50.02%;
  bottom: 69.5%;
}

.flexibleschedule,
.retirement-plan,
.workfromhome {
  position: absolute;
  height: 6.86%;
  width: 48.09%;
  top: 31.91%;
  right: 51.43%;
  bottom: 61.23%;
  left: 0.48%;
}

.flexibleschedule,
.workfromhome {
  width: 51.21%;
  top: 40.19%;
  right: 48.31%;
  bottom: 52.96%;
}

.flexibleschedule {
  top: 48.46%;
  bottom: 44.68%;
}

.parental-leave,
.relocationassistance {
  position: absolute;
  height: 6.86%;
  width: 45.33%;
  top: 56.74%;
  right: 54.67%;
  bottom: 36.41%;
  left: 0;
}

.relocationassistance {
  width: 62.98%;
  top: 65.01%;
  right: 36.54%;
  bottom: 28.13%;
  left: 0.48%;
}

.healthinsurance {
  position: absolute;
  top: 30px;
  left: 2px;
}

.are-any-of {
  position: absolute;
  width: 100%;
  top: calc(50% - 211.5px);
  left: 0;
  line-height: 24px;
  display: inline-block;
}

.benefits-offerd {
  position: absolute;
  top: 930px;
  left: 47px;
  width: 413px;
  height: 423px;
  overflow: hidden;
}

.tips {
  position: absolute;
  height: 8.23%;
  width: 17.15%;
  top: 25.93%;
  right: 82.85%;
  bottom: 65.84%;
  left: 0;
}

.bonuses,
.commission,
.otherforms,
.storediscounts {
  position: absolute;
  height: 8.23%;
  width: 34.62%;
  top: 42.39%;
  right: 65.38%;
  bottom: 49.38%;
  left: 0;
}

.bonuses,
.otherforms,
.storediscounts {
  width: 25.74%;
  top: 58.85%;
  right: 74.26%;
  bottom: 32.92%;
}

.otherforms,
.storediscounts {
  width: 40.54%;
  top: 75.31%;
  right: 59.46%;
  bottom: 16.46%;
}

.otherforms {
  width: 33.72%;
  top: 91.77%;
  right: 66.28%;
  bottom: 0;
}

.are-there-any {
  margin: 0;
}

.are-there-any-container {
  position: absolute;
  width: 100%;
  top: calc(50% - 121.5px);
  left: 0;
  line-height: 24px;
  display: inline-block;
}

.compensationofferd {
  position: absolute;
  top: 650px;
  left: 51px;
  width: 390px;
  height: 243px;
  overflow: hidden;
}

.contracttype,
.to {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 100px;
  left: 14px;
}

.to {
  top: 0px;
  left: 210px;
}

.from{
  left: -160px;
}
.what-is-the {
  position: absolute;
  left: 16px;
}

.from {
  border: 0;
  background-color: transparent;
  top: 0px;
}

.what-is-the {
  top: 6px;
}

.salaryandcontract {
  position: absolute;
  top: 480px;
  left: 29px;
  width: 412px;
  height: 218px;
  overflow: hidden;
}



.post-a-job9 {
  position: absolute;
  top: 80px;
  left: 40px;
  font-size: 18px;
  color: #013c5e;
}

.nextbtn9{
  top: 1220px;
  left: 45px;
  height: 40px;
}
.profilepic-icon9 {
  position: absolute;
  height: 2.57%;
  width: 40.86%;
  top: 94.53%;
  right: 54.6%;
  bottom: 2.9%;
  left: 4.54%;
}

.profilepic-icon9 {
  height: 100%;
  width: 20%;
  top: 15.36%;
  right: 70%;
  bottom: 17.47%;
  left: 8.13%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.picon9,
.profilename9 {
  position: absolute;
  top: calc(50% - 10.05px);
  left: 35.63%;
}

.picon9 {
  left: 75.5%;
  font-size: var(--font-size-xl);
  font-family: var(--font-material-icons);
  color: #000;
}

.profilecard9 {
 position: absolute;
  top: 10px;
  left: 550px;
  width: 150px;
  height: 35px;
  overflow: hidden;
  font-size: 14px;
}

.left9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 1500px;
  
}

.create-job9,
.right9 {
  height: 1500px;
  
}

.right9 {
  position: absolute;
  top: 0;
  left: 700px;
  width: 960px;
  height: 100vh;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}

.create-job9 {
  position: relative;
  background-color: #fff;
  width: 1400px;
  height: 100vh; 
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  font-size: 42px;
  color: #0e5a86;
  font-family: var(--font-poppins);
  
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-material-icons: "Material Icons";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-darkslategray-100: #1a4f6e;
}