.log-in-with {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 33.52%;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-steelblue-100);
  text-align: center;
}

.log-in-with-email-wrapper2 {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke);
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 18.61%;
  width: 86.57%;
  top: 30.47%;
  right: 13.55%;
  bottom: 50.91%;
  left: -0.12%;
  border-radius: var(--br-9xs);
  background: linear-gradient(#fff, #fff), #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.log-in-with12 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0.35%;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray);
  text-align: center;
}

.bitmap-icon2 {
  position: absolute;
  height: 100%;
  width: 43.06%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 56.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.log-in-with-parent2 {
  position: absolute;
  top: 12px;
  left: 105px;
  width: 144px;
  height: 26px;
  overflow: hidden;
}

.frame-wrapper2 {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 153.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 361px;
  height: 51px;
}

.log-in-with2 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0.66%;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray);
  text-align: center;
}

.log-in-with-wrapper2 {
  position: absolute;
  top: 15px;
  left: 105px;
  width: 76px;
  height: 20px;
  overflow: hidden;
}

.frame-container2 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 361px;
  height: 51px;
}

.bitmap-icon2F {
  position: absolute;
  top: 18px;
  left: 190px;
  width: 70.7px;
  height: 14px;
  object-fit: cover;
}

.frame-group2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 224px;
  left: 0;
  width: 360px;
  height: 50px;
}

.find-job-parent2,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 274px;
}

.rectangle2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #00bbe7, #0086ca);
  display: none;
}

.signup2 {
  position: absolute;
  top: calc(55% - 12px);
  left: 43.06%;
  font-size: 15px;
  font-family: var(--font-poppins);
  color: var(--color-steelblue-100);
  text-align: center;
}

.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 56.96%;
  width: 100%;
  top: 43.04%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.dont-have-an {
  position: absolute;
  top: calc(50% - 39.5px);
  left: 26.94%;
  line-height: 40px;
}

.group-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 79px;
  overflow: hidden;
}

.footer2 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 0;
}

.FindJobInc2 {
  position: absolute;
  top: 125px;
  left: 112px;
  width: 137px;
  height: 17px;
  overflow: hidden;
  font-size: 12px;
}

.frame2 {
  position: absolute;
  top: 470px;
  left: 0;
  width: 360px;
  height: 142px;
}

.frame-parent2,
.sign-in-inner2 {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 700px;
  height: 850;
}

.sign-in-inner2 {
  top: -23px;
  left: 923px;
  background-color: var(--color-white);
  width: 960px;
  height: 1080px;
}

.removebg-preview-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.connect-merge-work2 {
  margin: 0;
  position: absolute;
  top: calc(63% - 414px);
  left: 19.79%;
  font-size: inherit;
  line-height: 83px;
  font-weight: 700;
  font-family: inherit;
}

.left2,
.sign-in-child2 {
  position: absolute;
  overflow: hidden;

}

.left2 {
  top: 0;
  left: 0;
  width: 850px;
  height: 850px;
  text-align: left;
  font-size: 42px;
  color: #0e5a86;
}

.sign-in-child2 {
  top: 354px;
  left: 1292px;
  width: 305px;
  height: 79px;
  object-fit: cover;
}

.sign-in2 {
  position: relative;
  background-color: var(--color-white);
  width: 1400px;
  height: 780px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);

}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue-100: #0086ca;
  --color-darkslategray: #4a4a4a;
  --color-whitesmoke: #eaeaea;
  --color-gray: #7a7a7a;

  /* Border radiuses */
  --br-9xs: 4px;
}