.postjobbtn20,
.rectangle {
    position: absolute;
    top: 25px;
    left: 1160px;
}

.rectangle {
    height: 100.13%;
    width: 102.98%;
    top: -0.06%;
    right: -2.92%;
    bottom: -0.06%;
    left: -0.06%;
    border-radius: 4px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
}

.see-more {
    font-weight: 600;
}

.had-5-years-container,
.thalhauwaiz {
    position: absolute;
    display: inline-block;
}

.had-5-years-container {
    width: 84.43%;
    top: calc(50% - 337.5px);
    left: 13%;
    font-size: var(--font-size-smi);
}

.thalhauwaiz {
    width: 84.3%;
    top: calc(50% - 10px);
    left: 0;
}

.candidatename20 {
    position: absolute;
    height: 2.57%;
    width: 25.43%;
    top: 3.09%;
    right: 61.57%;
    bottom: 94.34%;
    left: 13%;
    overflow: hidden;
    font-size: var(--font-size-sm);
    color: #0086ca;
}

.candidatepro20-icon {
    position: absolute;
    height: 7.72%;
    width: 8.57%;
    top: 2.57%;
    right: 89.43%;
    bottom: 89.7%;
    left: 2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.just-saw-your {
    margin: 0;
}

.just-saw-your-container {
    position: absolute;
    width: 100%;
    top: calc(50% - 15px);
    left: 0;
    display: inline-block;
}

.applicant-note {
    position: absolute;
    top: calc(50% - 42px);
    left: 0;
    font-size: var(--font-size-xs);
}

.applicationnote20 {
    position: absolute;
    top: 597px;
    left: 90px;
    width: 366px;
    height: 84px;
    overflow: hidden;
    font-size: var(--font-size-smi);
}

.srilanka20 {
    position: absolute;
    width: 145.8%;
    top: calc(50% - 0.5px);
    left: 0;
    font-size: var(--font-size-sm);
    display: inline-block;
}

.country20 {
    position: absolute;
    top: 4px;
    left: 335px;
    width: 81px;
    height: 39px;
    overflow: hidden;
}

.kattankudy20,
.kattankudyt {
    width: 100%;
    display: inline-block;
}

.kattankudyt {
    position: absolute;
    top: calc(50% - 19.5px);
    left: 0;
    opacity: 0.4;
    mix-blend-mode: normal;
}

.kattankudy20 {
    top: calc(50% + 0.5px);
    font-size: var(--font-size-sm);
}

.batticaloa20,
.city20,
.kattankudy20 {
    position: absolute;
    left: 0;
}

.city20 {
    top: 0;
    width: 117px;
    height: 39px;
    overflow: hidden;
}

.batticaloa20 {
    width: 234.34%;
    top: calc(50% - 0.5px);
    font-size: var(--font-size-sm);
    display: inline-block;
}

.state20 {
    position: absolute;
    top: 2px;
    left: 177px;
    width: 83px;
    height: 39px;
    overflow: hidden;
}

.locatoncard20 {
    position: absolute;
    top: 95px;
    left: 92px;
    width: 416px;
    height: 43px;
    color: var(--color-darkslategray-200);
}

.applicant-video {
    position: absolute;
    top: calc(50% - 168px);
    left: 0.69%;
}

.appimg-icon,
.mask {
    position: relative;
    width: 581px;
    height: 309px;
}

.appimg-icon {
    object-fit: cover;
}

.mask {
    border-radius: 3.79px 3.79px 0 0;
    background-color: #f6f6f5;
}

.applicationimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 309px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.applicantimg20,
.vedioicon20 {
    position: absolute;
    top: 0;
    left: 0;
    width: 581px;
    height: 309px;
}

.vedioicon20 {
    height: 16.18%;
    width: 8.61%;
    top: 42.07%;
    right: 45.61%;
    bottom: 41.75%;
    left: 45.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.applicationvediocard,
.video {
    position: absolute;
    top: 27px;
    left: 0;
    width: 581px;
    height: 309px;
}

.applicationvediocard {
    top: 151px;
    left: 88px;
    height: 336px;
    overflow: hidden;
}

.scheduleinterviewbtn20 {
    position: absolute;
    top: 701px;
    left: 400px;
}

.adobesuite20t,
.see-resumebtn20 {
    position: absolute;
    top: 701px;
    left: -80px;
}

.adobesuite20t {
    height: 102.86%;
    width: 101.02%;
    top: -1.43%;
    right: -0.51%;
    bottom: -1.43%;
    left: -0.51%;
    border-radius: var(--br-mid-5);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
}

.adobe-suite {
    position: absolute;
    top: calc(50% - 8.5px);
    left: 15.31%;
}

.adobesuite20 {
    position: absolute;
    height: 56.45%;
    width: 36.84%;
    top: 43.55%;
    right: 0;
    bottom: 0;
    left: 63.16%;
    overflow: hidden;
}

.indesign20t {
    position: absolute;
    height: 102.86%;
    width: 101.28%;
    top: -1.43%;
    right: -0.64%;
    bottom: -1.43%;
    left: -0.64%;
    border-radius: var(--br-mid-5);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
}

.indesign {
    position: absolute;
    top: calc(50% - 8.5px);
    left: 19.23%;
}

.indesign20 {
    position: absolute;
    height: 56.45%;
    width: 29.32%;
    top: 43.55%;
    right: 40.6%;
    bottom: 0;
    left: 30.08%;
    overflow: hidden;
}

.indesign20t1 {
    position: absolute;
    height: 102.86%;
    width: 101.43%;
    top: -1.43%;
    right: -0.71%;
    bottom: -1.43%;
    left: -0.71%;
    border-radius: var(--br-mid-5);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
}

.sketch {
    position: absolute;
    top: calc(50% - 8.5px);
    left: 21.43%;
}

.sketsch20,
.skills {
    position: absolute;
    left: 0;
}

.sketsch20 {
    height: 56.45%;
    width: 26.32%;
    top: 43.55%;
    right: 73.68%;
    bottom: 0;
    overflow: hidden;
}

.skills {
    top: calc(50% - 31px);
}

.candidatedetailscard20,
.skillscard20 {
    position: absolute;
    top: 506px;
    left: 90px;
    width: 266px;
    height: 62px;
    overflow: hidden;
}

.candidatedetailscard20 {
    top: 150px;
    left: 340px;
    width: 850px;
    height: 777px;
}

.active-jobs20 {
    position: absolute;
    width: 14.14%;
    top: calc(50% - 17px);
    left: 0.15%;
}

.archived20,
.saved-candidates20 {
    position: absolute;
    width: 9.13%;
    top: calc(50% - 15px);
    left: 5.12%;
}

.saved-candidates20 {
    width: 19.15%;
    left: 10.07%;
}

.advanced-search20,
.interviews20,
.message20 {
    position: absolute;
    width: 10.46%;
    top: calc(50% - 15px);
    left: 16.2%;
}

.advanced-search20,
.message20 {
    width: 9.28%;
    left: 21.49%;
}

.advanced-search20 {
    width: 18.41%;
    left: 25.59%;
}

.header20 {
    position: absolute;
    top: 80px;
    left: 180px;
    width: 1222px;
    height: 44px;
    overflow: hidden;

}

.profilepic20-icon {
    position: absolute;
    top: 36px;
    left: 243px;
    width: 1222px;
    height: 44px;
    overflow: hidden;
}

.profilepic20-icon {
    position: absolute;
    height: 40.18%;
    width: 19.88%;
    top: 13.36%;
    right: 70%;
    bottom: 17.47%;
    left: 30.13%;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.picon20,
.profilename20 {
    position: absolute;
    top: calc(35% - 10.05px);
    left: 115px;
}

.picon20 {
    top: calc(40% - 20.65px);
    left: 85.27%;
    font-size: 26.63px;
    font-family: var(--font-material-icons);
    color: #000;
}

.profilecard20 {
    position: absolute;
    top: 10px;
    left: 1240px;
    width: 200px;
    height: 100.1px;
    overflow: hidden;
    font-size: 14px;
}

.findmergeicon20 {
    position: absolute;
    top: 11px;
    left: 0;
    width: 220px;
    height: 60px;
    object-fit: cover;
}

.candidate {
    position: relative;
    background-color: var(--color-white);
    width: 1500px;
    height: 780px;
    overflow-y: scroll;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-100);
    font-family: var(--font-poppins);
}






@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-material-icons: "Material Icons";
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-smi: 13px;

    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #4a4a4a;
    --color-darkslategray-200: #1a4f6e;
    --color-gainsboro: #e8e8e8;

    /* Border radiuses */
    --br-mid-5: 17.5px;
    --br-9xs-8: 3.8px;
}