.find-job16-icon {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 200px;
    height: 75px;
    object-fit: cover;
}

.bellicon {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 16px;
    height: 20px;
    opacity: 0.32;
    mix-blend-mode: normal;
}

.postjobbtn16 {
    position: absolute;
    top: 25px;
    left: 1100px;
}

.our-company-microsoft {
    margin: 0;
}

.requirments16 {
    position: absolute;
    height: 48.1%;
    width: 99.85%;
    top: 11%;
    left: 0.15%;
    display: inline-block;
}

.location-,
.type-in-house {
    position: absolute;
    width: 9.02%;
    top: calc(50% - 8.75px);
    left: 0;
    display: inline-block;

    &.type-in-house {
        width: 100%;
    }
}

.type-inhouse-2 {
    position: absolute;
    height: 100%;
    width: 14.16%;
    top: 0;
    right: 66.1%;
    bottom: 0;
    left: 19.74%;
    overflow: hidden;
}

.ny {
    width: 2.57%;
    top: calc(50% - 8.75px);
    left: 9.44%;
    display: inline-block;
}

.footerjob16,
.k,
.ny {
    position: absolute;
}

.k {
    width: 55.59%;
    top: calc(50% - 8.75px);
    left: 44.49%;
    display: inline-block;
}

.footerjob16 {
    height: 6.5%;
    width: 99.72%;
    top: 78.67%;
    right: 0.28%;
    bottom: 14.83%;
    left: 0;
    overflow: hidden;
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-300);
}

.adobexdrec {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-mid-5);
    background-color: var(--color-darkslategray-300);
}

.adobe-xd {
    position: absolute;
    width: 67.61%;
    top: calc(50% - 10.05px);
    left: 16.69%;
    display: inline-block;
}

.adobexd {
    position: absolute;
    height: 100%;
    width: 20.87%;
    top: 0;
    right: 69.31%;
    bottom: 0;
    left: 9.82%;
    overflow: hidden;
}

.sketch-pro {
    position: absolute;
    width: 65.77%;
    top: calc(50% - 10.05px);
    left: 17.11%;
    display: inline-block;
}

.sketchpro {
    position: absolute;
    height: 100%;
    width: 22.7%;
    top: 0;
    right: 45.6%;
    bottom: 0;
    left: 31.7%;
    overflow: hidden;
}

.skills- {
    position: absolute;
    width: 8.59%;
    top: calc(50% - 9.05px);
    left: 0;
    font-size: var(--font-size-xs);
    display: inline-block;
    color: var(--color-darkslategray-300);
}

.skills16 {
    position: absolute;
    height: 13.37%;
    width: 69.76%;
    top: 59%;
    right: 30.1%;
    bottom: 27.63%;
    left: 0.15%;
    overflow: hidden;
    color: var(--color-white);
}

.jobhed {
    position: absolute;
    width: 30.52%;
    top: calc(50% - 141px);
    left: 0;
    font-size: var(--font-size-base);
    display: inline-block;
    color: var(--color-darkslategray-200);
}

.senior-ui-designer {
    position: absolute;
    overflow: hidden;
}


.senior-ui-designer {
    top: 500px;
    left: 350px;
    width: 823px;
    height: 300px;
}

.senior-reactdeveloper {
    width: 36.52%;
    top: calc(50% - 141px);
    left: 0;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-200);
}

.location-1,
.reqforreact,
.salary,
.senior-reactdeveloper {
    position: absolute;
    display: inline-block;
}

.reqforreact {
    height: 48.1%;
    width: 99.85%;
    top: 11.07%;
    left: 0.15%;
    color: var(--color-darkslategray-100);
    white-space: pre-wrap;
}

.location-1,
.salary {
    width: 13.31%;
    top: calc(50% - 8.85px);
    left: 0;
}

.salary {
    width: 40.45%;
    top: calc(50% - 8.75px);
}

.footerreact,
.salaryrangereact {
    position: absolute;
    height: 100%;
    width: 14.16%;
    top: 0;
    right: 0.01%;
    bottom: 0;
    left: 85.83%;
    overflow: hidden;
}

.footerreact {
    height: 6.5%;
    width: 99.72%;
    top: 87.03%;
    right: 0.13%;
    bottom: 6.47%;
    left: 0.15%;
    font-size: var(--font-size-xs);
}

.reactjs1 {
    position: absolute;
    width: 54.84%;
    top: calc(50% - 10.05px);
    left: 16.69%;
}

.database1,
.reactjs1,
.uiux1 {
    display: inline-block;
}

.database1 {
    position: absolute;
    width: 61.24%;
    top: calc(50% - 10.05px);
    left: 17.11%;
}

.uiux1 {
    width: 37.23%;
    top: calc(50% - 11.25px);
    left: 31.39%;
}

.nodejs1,
.uiux,
.uiux1 {
    position: absolute;
}

.uiux {
    height: 100%;
    width: 20.87%;
    top: 0;
    right: 23.71%;
    bottom: 0;
    left: 55.43%;
    overflow: hidden;
}

.nodejs1 {
    width: 43.28%;
    top: calc(50% - 11.25px);
    left: 28.86%;
    display: inline-block;
}

.nodejs {
    height: 100%;
    width: 22.7%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 77.3%;
}

.nodejs,
.skilsforreact {
    position: absolute;
    overflow: hidden;
}

.skilsforreact {
    height: 13.37%;
    width: 69.76%;
    top: 66.4%;
    right: 30.1%;
    bottom: 20.23%;
    left: 0.15%;
    color: var(--color-white);
}

.skills-1 {
    position: absolute;
    width: 5.99%;
    top: calc(50% + 60.2px);
    left: 0.15%;
    font-size: var(--font-size-xs);
    display: inline-block;
}

.seniorreactdeveloper {
    position: absolute;
    top: 180px;
    left: 350px;
    width: 823px;
    height: 300px;
    overflow: hidden;
    color: var(--color-darkslategray-300);
}



.active-jobs,
.archived {
    position: absolute;
    width: 14.14%;
    top: calc(50% - 17px);
    left: 0px;

    &.archived {
        width: 9.13%;
        top: calc(50% - 15px);
        left: 8.12%;
    }
}

.advanced-search,
.interviews,
.message,
.saved-candidates {
    position: absolute;
    width: 19.15%;
    top: calc(50% - 15px);
    left: 15%;

    &.advanced-search,
    &.interviews,
    &.message {
        width: 10.46%;
        left: 22.2%;

        &.advanced-search,
        &.message {
            width: 9.28%;
            left: 30.49%;
        }

        &.advanced-search {
            width: 18.41%;
            left: 33.59%;
        }
    }
}

.header16{
    position: absolute;
    top: 100px;
    left: 180px;
    width: 1200px;
    height: 60px;
    overflow: hidden;
}

.profilepic16-icon {
    position: absolute;
    top: 10px;
    left: 80px;
    height: 41.18%;
    width: 22.88%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    .profilepic16-icon {
        position: absolute;
        height: 67.18%;
        width: 21.88%;
        top: 15.36%;
        right: 70%;
        bottom: 17.47%;
        left: 8.13%;
        border-radius: 50%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
    }
}

.profilename16 {
    position: absolute;
    top: calc(30% - 10.05px);
    left: 140px;
}

.profilecard16 {
    position: absolute;
    top: 10px;
    left: 1210px;
    width: 200px;
    height: 100.1px;
    overflow: hidden;
    font-size: 14px;
}

.homepage16 {
    position: relative;
    background-color: var(--color-white);
    width: 1400px;
    height: 780px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-100);
    font-family: var(--font-poppins);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-material-icons: "Material Icons";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #4a4a4a;
  --color-darkslategray-200: #1a4f6e;
  --color-darkslategray-300: #013c5e;

  /* Border radiuses */
  --br-mid-5: 17.5px;
}
