.leftback7-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.connect-merge-work7 {
  position: absolute;
  top: calc(50% - 414px);
  left: 19.79%;
  line-height: 83px;
}

.left7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 780px;
  height: 1080px;
  overflow: hidden;
}

.to-continue-you {
  position: absolute;
  top: 320px;
  left: 361px;
  font-weight: 600;
}

.welcome1 {
  position: absolute;
  top: 230px;
  left: 400.5px;
  font-size: var(--font-size-xl);
  color: #0187cb;
  text-align: center;
}

.gotohomebtn7,
.postjobbtn7 {
  position: absolute;
  height: 3.75%;
  width: 37.57%;
  top: 33%;
  right: 31.06%;
  bottom: 47.73%;
  left: 300px;
  text-decoration: none;
  font-weight: bolder;
  color: #0187cb;
  font-size: 20px;
  border: 1px solid;
  margin: 10px;
  align-items: center;
  border-radius: 10px;
  padding-left:70px;
  width: 250px;
  padding-top: 3px;
}

.postjobbtn7 {
  height: 3.75%;
  width: 37.46%;
  top: 40.61%;
  right: 31.32%;
  bottom: 42.22%;
  left: 300px;
  width: 230px;
  padding-left: 90px;
}

.findjob7 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 5.84%;
}

.footer7,
.profilepic7-icon {
  position: absolute;
  overflow: hidden;
}

.footer7 {
  top: 730px;
  left: 390px;
  width: 137px;
  height: 17px;
  text-align: center;
  font-size: 12px;
}

.profilepic7-icon {
  height: 100%;
  width: 25.75%;
  top: 0;
  right: 71.25%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.picon7,
.profilename7 {
  position: absolute;
  top: calc(50% - 10.05px);
  left: 35.63%;
}

.picon7 {
  left: 75.5%;
  font-size: var(--font-size-xl);
  font-family: var(--font-material-icons);
  color: #000;
}

.profilecard7 {
  position: absolute;
  top: 10px;
  left: 620px;
  width: 150px;
  height: 30px;
  overflow: hidden;
  font-size: 14px;
}

.right7,
.welcome {
  height: 1080px;
  overflow: hidden;
}

.right7 {
  position: absolute;
  top: 0;
  left: 650px;
  width: 960px;
  font-size: 16px;
  color: var(--color-darkslategray);
}

.welcome {
  position: relative;
  background-color: #fff;
  width: 1400px;
  height: 780px;
  text-align: left;
  font-size: 42px;
  color: #0e5a86;
  font-family: var(--font-poppins);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-material-icons: "Material Icons";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-darkslategray: #4a4a4a;
}