.backgroundimg10-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.connect-merge-work10 {
    position: absolute;
    top: calc(50% - 414px);
    left: 19.79%;
    line-height: 83px;
}

.left10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 760px;
    height: 1080px;
    overflow: hidden;
}

.post-a-job10 {
    position: absolute;
    top: 85px;
    left: 100px;
    font-size: 20px;
    color: #013c5e;
}


.fullyremote10,
.websitename {
    border: 0;
    background-color: transparent;
    position: absolute;
    height: 5.37%;
    width: 20.53%;
    top: 72.51%;
    bottom: 9.11%;

    &.websitename {
        top: 66.08%;
        left: -263px;
    }

    &.fullyremote10{
        top: 66%;
        left: 98px;
    }

}


.hours1,
.hours2 {
    position: absolute;
    height: 3.97%;
    width: 46.29%;
    top: 96.03%;
    right: 53.71%;
    bottom: 0;
    left: 0;


    &.hours1,
    &.hours2 {
        width: 39.57%;
        top: 80.12%;
        right: 60.43%;
        bottom: 15.91%;
    }

    &.hours1,
    &.hours2 {
        top: 72.17%;
        bottom: 23.86%;
    }

    &.hours2 {
        width: 38.16%;
        top: 64.22%;
        right: 61.84%;
        bottom: 31.82%;
    }
}

.dayshift,
.holiday-req,
.nightshift,
.overtime {
    position: absolute;
    height: 3.97%;
    width: 32.86%;
    top: 56.26%;
    right: 67.14%;
    bottom: 39.77%;
    left: 0;

    &.dayshift,
    &.holiday-req,
    &.nightshift {
        width: 36.75%;
        top: 48.31%;
        right: 63.25%;
        bottom: 47.72%;
    }

    &.dayshift,
    &.holiday-req {
        width: 31.79%;
        top: 40.35%;
        right: 68.21%;
        bottom: 55.68%;
    }

    &.holiday-req {
        width: 54.42%;
        top: 32.4%;
        right: 45.58%;
        bottom: 63.63%;
    }
}

.mondaytofriday,
.noweekends,
.weekends-req {
    position: absolute;
    height: 3.97%;
    width: 59%;
    top: 24.46%;
    right: 41%;
    bottom: 71.57%;
    left: 0;

    &.mondaytofriday,
    &.noweekends {
        width: 43.81%;
        top: 16.51%;
        right: 56.19%;
        bottom: 79.52%;
    }

    &.mondaytofriday {
        width: 54.42%;
        top: 8.55%;
        right: 45.58%;
        bottom: 87.48%;
    }
}

.what-availability-is {
    position: absolute;
    width: 100%;
    top: calc(50% - 262.5px);
    left: 0;
    line-height: 24px;
    display: inline-block;
}

.additional-job-detai {
    position: absolute;
    top: 0;
    left: 0;
}

.additionaljobdetailscard {
    position: absolute;
    top: 420px;
    left: 100px;
    width: 391px;
    height: 567px;
    overflow: hidden;
}

.hireperiod,
.numberofhire {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 120px;
    left: 4px;

    &.numberofhire {
        top: -10px;
        left: 3px;
    }
}

.candidate-requiremen101 {
    position: absolute;
    top: px;
    left: 9px;
}

.candidatereqcard {
    position: absolute;
    top: 220px;
    left: 90px;
    width: 412px;
    height: 203px;
    overflow: hidden;
}

.company-details10,
.job-description10,
.job-details10 {
    position: absolute;
    width: 15.64%;
    top: calc(50% - 13px);
    left: 0;

    &.job-description10,
    &.job-details10 {
        width: 13.03%;
        left: 10.55%;
    }

    &.job-description10 {
        width: 18.45%;
        left: 50.55%;
    }
}

.candidate-requiremen10 {
    position: absolute;
    width: 15.2%;
    top: calc(50% - 14px);
    left: 6.47%;
}

.optionscard10 {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 600px;
    height: 65px;
    overflow: hidden;
}



.profilepic10-icon {
    position: absolute;
    height: 67.18%;
    width: 21.88%;
    top: 15.36%;
    right: 70%;
    bottom: 17.47%;
    left: 8.13%;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.picon10,
.profilename10 {
    position: absolute;
    top: calc(50% - 10.05px);
    left: 35.63%;

    &.picon10 {
        top: calc(50% - 11.05px);
        left: 71.25%;
        font-size: 20px;
        font-family: var(--font-material-icons);
        color: #000;
    }
}

.nextbtn10 {
    position: absolute;
    height: 3.4%;
    width: 37.42%;
    top: 76.87%;
    right: 49.79%;
    bottom: 2.72%;
    left: 10.2%;
}

.profilecard910,
.right {
    position: absolute;
    overflow: hidden;

    &.profilecard910 {
        position: absolute;
        top: 10px;
        left: 550px;
        width: 160px;
        height: 52.1px;
        overflow: hidden;
        font-size: 14px;
    }

    &.right {
        top: 0;
        left: 700px;
        width: 960px;
        height: 1320px;
        font-size: var(--font-size-sm);
        color: var(--color-darkslategray-100);
    }
}

.create-job10 {
    position: relative;
    background-color: #fff;
    width: 1400px;
    height: 780px;
    text-align: left;
    font-size: 42px;
    color: #0e5a86;
    font-family: var(--font-poppins);
    overflow-x: hidden
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-material-icons: "Material Icons";
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-sm: 14px;

    /* Colors */
    --color-darkslategray-100: #1a4f6e;
}